* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* overflow-x: hidden; */
  height: 100%;
}
body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-right: 0px !important;
  padding: 0px !important;
}
/* @media print {
  html,
  body {
    width: 300mm;
    height: 2297mm;
    padding: 15;
  }
  * {
    height: auto;
    max-height: 700px;
    margin: 15;
    padding: 15;
  }
} */
a {
  text-decoration: none !important;
}

#root {
  overflow-x: unset;
  flex: auto;
}

button:focus {
  outline: none;
}

div.MuiPopover-root div.MuiPaper-root {
  max-height: 500px;
}

/*div.MuiPopover-root div.MuiPaper-root ul li {
  border-radius: 5px;
  margin-bottom: 10px;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  background-color: #f2f2f2;
  text-align: start;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;

  color: #263661;
}

div.MuiPopover-root div.MuiPaper-root ul li:first-of-type {
  margin-top: 10px;
} */
body::-webkit-scrollbar {
  width: 0.8em;
}

body::-webkit-scrollbar-thumb {
  background-color: #263661;
  border-radius: 6px;
  border: 2px solid #f9f9ff;
}
#root::-webkit-scrollbar {
  width: 0.8em;
}

#root::-webkit-scrollbar-thumb {
  background-color: #263661;
  border-radius: 6px;
  border: 2px solid #f9f9ff;
}

div.MuiPopover-root div.MuiPaper-root {
  margin-top: 36px !important;
}

.swal2-styled.swal2-confirm {
  color: #263661 !important;
  background-color: white !important;
  border: 1px solid !important;
}

.swal2-styled {
  width: 80px !important;
}
/* div.MuiPopover-root div.MuiPaper-root {
  top: 395px !important;
} */

span.MuiInputLabel-asterisk {
  color: red;
}

@media print {
  html,
  body {
    -webkit-print-color-adjust: exact;
    /* height: initial !important;
    overflow: initial !important; */
  }
  image-to-print {
    display: block;
    height: 100%;
  }
}
.full-page {
  background-color: red;
}
@page {
  size: auto;
  margin: 0;
}

body {
  overflow-y: scroll !important;
  height: 100%;
  padding-right: 0 !important;
  min-height: calc(49.5vh);
  background-color: #fff !important;
}
.rpv-default-layout__body > div {
  height: 1620px !important;
}
